<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol type="1">
  <li>Python</li>
  <li>SQL</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol type="1">
  <li>NumPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
</ol>

|Data Science Tools|
|---|
|Jupyter Notebook|
|Apache Spark|
|TensorFlow|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [9]:
200//60

3

<b>Objectives:</b>
<ul>
  <li>List popular languages for Data Science</li>
  <li>List popular libraries for data science </li>
  <li>List popular Data Science tools</li>
</ul>

Author<h2>Jai</h2>